/* Reset básico */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      box-sizing: border-box;
      font-family: arial, sans-serif;
      margin: 0;
      padding: 0;
      
    }

     .background {
     min-height: 90vh;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;

    }

    .background::before {
      content:'';
      background-image: url(img/img3.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: 0.2;

    }

    header {
      background-color: #00008B;
      color: white;
      padding: 1rem;
    }

    nav {
      max-width: 1700px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5px;
    
    }

    

    /* Menu padrão (desktop) */
    .menu {
      display: flex;
      gap: 1.5rem;
    }

    .menu a {
      color: white;
      text-decoration: none;
      font-weight: 500;
      font-size: 17px;
      color: white;
      
    }

    /* Botão hambúrguer oculto no desktop */
    .menu-toggle {
      display: none;
    }

    .hamburger {
      display: none;
      cursor: pointer;
      flex-direction: column;
      gap: 5px;
    }

    .hamburger span {
      width: 25px;
      height: 3px;
      background: white;
      display: block;
      border-radius: 2px;
    }

    /* Estilo para dispositivos móveis */
    @media (max-width: 768px) {
      .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        text-align: center;
      }

      .menu-toggle:checked + .hamburger + .menu {
        display: flex;
        background-color:#00008B;
        
      }

      .hamburger {
        display: flex;
      }
      
      

    }